
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'sidebar main main main'
    'footer footer footer footer';
    
}

.header{
    width: 100vw;
    height: 10vh;
    grid-area: header;
    background-color: #8FBDD3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}

.main{
    width: 80vw;
    height: 80vh;
    grid-area: main;
    background-color: #E4D1B9;
    display: grid;
    grid-template-areas:
    'gitpage me'
    'photos photos';
    
}
.gitpage{
    grid-area: gitpage;
    background-color: #b7977e;
}
.me{
    grid-area: me;
    background-color: #c1a793;

}
.photos{
    grid-area: photos;
    background-color: #e3d1c3;

}

#mipic{
    width: 15vw;
    align-items: flex-end;
    border-radius: 50%;
}
@keyframes mepic{
    0%{
        filter: drop-shadow(2px 2px 5px #000000);
        width: 15vw;
    }
    33%{
        filter: drop-shadow(2px 2px 5px black);
        width: 15.5vw;
    }
    69%{
        filter: drop-shadow(2px 2px 5px #000000);
        width: 17vw;
    }
    100%{
        filter: drop-shadow(2px 2px 5px black);
        width: 15vw;
    }
}
#mipic:hover{
    animation: mepic 5s   alternate;
    animation-fill-mode: forwards;
}



.sidebar{
    width: 20vw;
    height: 80vh;
    grid-area: sidebar;
    background-color: #BE8C63;
}
   
.footer{
    width: 100vw;
    height: 10vh;
    grid-area: footer;
    background-color: #A97155;
    display: grid;
    justify-content: center;
    align-items: center;
}

.imghead{
    width: 7vw;
    align-items: flex-end;
}

